/*Navigation Bar */

.navigation_bar {
  margin-top: 5px;
}

.navigation_head {
  padding-top: 8px;
	padding-bottom: 8px;
	background-color: lightgrey;
}

.navigation_bar a {
	color: #34495e;
	font-size: 16px;
  padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
  text-decoration: none;
}

.navigation_bar a:hover {
	color: #718daa;
}

.title {
	margin: 0;
  display: block;
  padding: 10px 15px;
	font-size: 22px;
	text-align: center;
  color: #34495e;
}

/*For scalling navigation bar*/

@media (min-width: 760px) {
	.navigation_head {
		flex-direction: column;
		align-items: center;
	}
  .navigation_head,
	.navigation_bar {
		display: flex;
	}
}

@media (min-width: 1025px) {
	.navigation_head {
		flex-direction: row;
		justify-content: space-between;
	}
}

/*Body using parallax scrolling concept*/

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

h3{
    letter-spacing:6px;
    text-transform: uppercase;
    font: 20px;
    color: #111
}

h4{
  color: #34495e;
}

.bgi-1{
    background-image: url(1_first-background.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bgi-2{
    background-image: url(1_second-background.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70%;
   
}

.welcome_message{
   Font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    position: absolute;
    top: 30%;
    left: 50%;
    color: darkred;
    font-weight:bolder;
    font-size:25px;
    letter-spacing:25px;
    line-height: 250%;
    
}
.first_box_info{
    color:black;
    background-color: white;
    text-align:center;
}

.first_container{
    display: flex;
    flex-wrap: nowrap;
}

.first_message_box{
  background-color:#CDA184;
  width: 50%; /*Determines the amount of column (2)*/
  font-size: 20px;
  color:whitesmoke;
}

.first_message_box a{
  text-decoration: none;
  color:#DC143C;
}

.second_container{
  display: flex;
  flex-wrap: nowrap;
}

.second_message_box{
  background-color:#CDA184;
  width: 33.33%; /*Determines the amount of column (3)*/
  font-size: 20px;
  color:whitesmoke;
}

.third_container{
  display: flex;
    flex-wrap: nowrap;
}

.third_message_box{
  background-color:#CDA184;
  width: 50%;
  font-size: 20px;
  color:whitesmoke;
}

.consultation_container{
  position:absolute;
  top:35%;
  left: 50%;
  transform: translate(-50%, -50%); /* To center the box*/
  text-align: center;
  line-height: 250%;
}

.button {
  border: 2px solid #CDA184;
  background-color:black;
  border-radius: 12px;
  color:white;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 10px;
 padding:16px;
}

.button a{
	text-decoration: none;
	color:white;
}

.button a:visited{
	text-decoration: none;
	color:white;
}

.button:hover{
  background-color:#CDA184;
  border: 2px solid black;
}

/* Footer */

.footer_box {
	position: relative;
  width: 100%;
	background-color:#1A1F24;
	bottom: 0; 
 
}

.footer_container {
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: 20px;
}

.grid_elements {
	padding: 20px;
	color: #A2845C;
}

.grid_elements ul {
	list-style: none;
	font-size: 15px;
	letter-spacing: 0.8px;	
 } 

.inner_footer_grid_container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: left;
}

hr { 
	display: block; 
	height: 1px;
	border: 0; border-top: 1px solid #A2845C;
	margin: 1px; 
	
}

.footer_container p {
	font-size: 14px;
	text-align: right;
	color: #A2845C;
	font-weight: 500;
}

.web_logo {
	width: 180px;
	height: 140px;
}

.link{
	color: #A2845C;
}
.link.a{
	text-decoration: none;
	color: #A2845C;
}
.link a:visited{
	text-decoration: none;
	color: #A2845C;
}

/* Scalling footer*/

@media only screen and (min-width: 1300px) {
   @media only screen and (min-width: 1300px) {
	.footer_box {
		height: 260px;
		bottom: 0;
	}
	.footer_grid_container {
		display: grid;
		grid-template-columns: 250px auto 250px;
	}

	.inner_footer_grid_container{
		display: grid;
		grid-template-columns: auto auto auto auto;
		text-align:center;
	}

  }
}









