body {
    height: 800px;
    display: flex;
    background: url(5_background_image_sign_log.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    justify-content: center;
}

p{
    text-align: center;
    color: #7C5F63;
}

.container {
    width: 400px;
    margin: 16px;
    padding: 32px;
    box-shadow: 0 0 40px black;
    border-radius: 12px;
    background: white;
    font-size: 18px;
}

.container,
.form_input,
.form_button {
    font-size:16px;
    font-weight: bold;
}

.form_title {
    margin-bottom: 32px;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 16px;
}

.input_group {
    margin-bottom: 16px;
}

.form_input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius:4px;
    border: 1px solid lightgrey;
    outline: none;
    background: whitesmoke;
}

.form_input:focus {
    border-color: #009579;
    background: #ffffff;
}

.form_button {
    width: 100%;
    padding: 16px 32px;
    border: 2px solid black;
    border-radius:12px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    outline: none;
    cursor: pointer;
    background:#009579;
    transition-duration: 0.5s;
}

.form_button:hover {
    background: #007f67;
}

.form_text {
    text-align: center;
}

.form_link {
    color: rosybrown;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: none;
}

.form_hidden {
    display: none;
}
